<div id='content' class='page content'>
  <div
  id='gridButton' class='button button-grid'
  *ngIf=gridButton
  [inlineSVG]=gridButtonPath
  (onSVGInserted)=styleGridButtonFunc($event)
  (click)=viewGridFunc()
  >
  </div>
  <div
  id='downArrow' class='button button-shutter'
  [inlineSVG]=arrowPath
  (onSVGInserted)=styleDownArrowContentFunc($event)
  (click)=setAppViewFunc()>
  </div>
  <div *ngFor='let workScript of works; let i = index'
  [id]='i' class='work-wrapper wwGrid'
  [@workAnimations]='getStatus(workScript.id)'
  (@workAnimations.done)='resizeWork($event)'
  (click)='workClickFunc($event)'
  >
    <app-work-wrapper
    [workScript]=workScript
    >
      loading {{workScript.name}}
    </app-work-wrapper>
  </div>
</div>