.shutter-bar {
  width: 100%;
  height: 5%;
}
#work-wrapper-all-container {
  top: 10%;
}
.work-wrapper-view-container {
  margin: 2.5%;
  float:left;
  border-right: 3px solid #777;
  border-left: 3px solid #777;
  border-top: 3px solid #777;
  border-bottom: 3px solid #777;
  border-radius: 5%;
  background: white;
  position: relative;
  overflow: hidden;
  pointer-events: initial;
}
.work-wrapper-view-container:hover {
  box-shadow: 0 0 3px 5px #555
}
.wwGrid {
  height: 25%;
  width: 25%;
}
.wwRow {
  height:10%;
  width:10%;
  float: right;
  clear: both;
  top:10%;
  /*background: blue;*/
}
.wwActive {
  margin: 0;
  border-left-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  border-radius: 0;
  height: 95%;
  width: 85%;
  position: fixed;
  top: 5%;
  /*background: red;*/
}
