<div id='content' class='page content'>
  <div
  id='gridButton' class='button button-grid'
  *ngIf=gridButton
  [inlineSVG]=gridButtonPath
  (onSVGInserted)='styleGridButtonFunc($event)'
  (click)=viewGridFunc()
  >
  </div>
  <div
  id='downArrow' class='button button-shutter'
  [inlineSVG]=arrowPath
  (onSVGInserted)='styleDownArrowContentFunc($event)'
  (click)=setAppViewFunc()>
  </div>
  <div *ngFor='let commandStacksKey of commandStacksKeys;'
  [id]='commandStacksKey' class='work-wrapper-view-container wwGrid'
  [@workAnimations]='getStatus(commandStacksKey)'
  (@workAnimations.done)='resizeWork($event)'
  (click)='workClickFunc($event)'
  >
    <app-work-wrapper
    [unitLength]='unitLength'
    [uLx2]='uLx2'
    [uLd2]='uLd2'
    [bWP]='bWP'
    [isPortrait]='isPortrait'
    [commandStacks]='commandStacksMap[commandStacksKey]'
    (workWrapperInitEvent)='addWorkWrapperFunc($event)'
    >
      loading
    </app-work-wrapper>
  </div>
</div>