<div class="canvasOverlay" *ngIf='work.active'>
  <div class="undo"
  [inlineSVG]=undoPath
  (onSVGInserted)='styleUndoFunc($event)'
  (click)='work.undo()'
  >
  </div>
  <div class="redo"
  [inlineSVG]=undoPath
  (onSVGInserted)='styleRedoFunc($event)'
  >
  </div>
  <div class="settings"
  [inlineSVG]=settingsPath
  (onSVGInserted)='styleSettingsFunc($event)'
  >
  </div>
  <div class="delete"
  [inlineSVG]=deletePath
  (onSVGInserted)='styleDeleteFunc($event)'
  >
  </div>
  <div class="upload"
  [inlineSVG]=uploadPath
  (onSVGInserted)='styleUploadFunc($event)'
  >
  </div>
  <div class="download"
  [inlineSVG]=downloadPath
  (onSVGInserted)='styleDownloadFunc($event)'
  >
  </div>
</div>
<div class="canvasWrapper">
</div>
