<div class="canvasOverlay" *ngIf='getWorkActive()'>
  <a id="downloadLink" hidden></a>
  <div class="undo button"
  [inlineSVG]=undoPath
  (onSVGInserted)='styleUndoFunc($event)'
  (click)='work.undo()'
  >
  </div>
  <div class="redo button"
  [inlineSVG]=undoPath
  (onSVGInserted)='styleRedoFunc($event)'
  (click)='work.redo()'
  >
  </div>
  <div class="settings button"
  [inlineSVG]=settingsPath
  (onSVGInserted)='styleSettingsFunc($event)'
  >
  </div>
  <div class="delete button"
  [inlineSVG]=deletePath
  (onSVGInserted)='styleDeleteFunc($event)'
  (click)='work.init()'
  >
  </div>
  <div class="upload button"
  [inlineSVG]=uploadPath
  (onSVGInserted)='styleUploadFunc($event)'
  >
  </div>
  <div class="download button"
  [inlineSVG]=downloadPath
  (onSVGInserted)='styleDownloadFunc($event)'
  (click)='download(this)'
  >
  </div>
</div>
<div class="canvasWrapper">
</div>
