<div id="about" class="page about">
  <h1>About Screen</h1>
  <div
  id="rightArrow" class="button button-about"
  [inlineSVG]="arrowPath"
  (onSVGInserted)="styleRightArrowFunc($event)"
  (click)="shutterToggleFunc()">
  </div>
  <div
  id="downArrow" class="button button-app-content"
  [inlineSVG]="arrowPath"
  (onSVGInserted)="styleDownArrowShutterFunc($event)"
  (click)="goContentFunc()">
  </div>
  <div id="aboutText">
    <h3>Crafted by Thomas Greenstein </h3><br>
    <h4>A fully client-side, Redux based SPA (Single Page App) Built with Angular 4 and ngrx.<br>
      Made for distracting you while you should be working:
    Sprint 2 demo build</h4><br>
    <p> Find the source at <a target="_blank" href="https://github.com/thomasgpw/portfolio"> https://github.com/thomasgpw/portfolio </a> </p> <br>
    <p> Read the dev documentation in <a target="_blank"href='https://drive.google.com/drive/folders/0B21LGG1_5OyOTEEyRVlydjMtcm8?usp=sharing'>
    my Google Drive folder </a> </p>
  </div>
  <div id="rhyme" class="button" (click)='getNextRhymeFunc()'>My name is Thomas and I'm here to say, <br>
    {{rhyme}}!
  </div>
</div>