<div id="about" class="page about">
  <h1>About Screen</h1>
  <div
  id="rightArrow" class="button button-about"
  [inlineSVG]="arrowPath"
  (onSVGInserted)="styleRightArrowFunc($event)"
  (click)="shutterToggleFunc()">
  </div>
  <div
  id="downArrow" class="button button-content"
  [inlineSVG]="arrowPath"
  (onSVGInserted)="styleDownArrowShutterFunc($event)"
  (click)="goContentFunc()">
  </div>
  <div id="aboutText">
  	<p> Crafted by Thomas Greenstein </p><br>
  	<p> Find the source at <a target="_blank" href="https://github.com/thomasgpw/portfolio"> https://github.com/thomasgpw/portfolio </a> </p> <br>
  	<p> Read the dev documentation in <a target="_blank"href='https://drive.google.com/drive/folders/0B21LGG1_5OyOTEEyRVlydjMtcm8?usp=sharing'>
  	my Google Drive folder </a> </p>
  </div>
</div>