<div id="about" class="page about">
  <h1>About Screen</h1>
  <div
  id="rightArrow" class="button button-about"
  [inlineSVG]="arrowPath"
  (onSVGInserted)="styleRightArrowFunc($event)"
  (click)="shutterToggleFunc()">
  </div>
  <div id="aboutText">
    <h3>Crafted by Thomas Greenstein </h3><br>
    <h4>A fully client-side, Redux based SPA (Single Page App) Built with Angular 4 and ngrx.<br>
      Made for distracting you while you should be working:
    Ver 1.0.0</h4><br>
    <p> Find the source at <a target="_blank" href="https://github.com/thomasgpw/portfolio"> https://github.com/thomasgpw/portfolio </a> </p> <br>
    <p> Read the dev documentation in <a target="_blank"href='https://drive.google.com/drive/folders/0B21LGG1_5OyOTEEyRVlydjMtcm8?usp=sharing'>
    my Google Drive folder </a> </p>
    <br>
    <p>This site uses cookies to store data about the app state.  No personal information is collected, stored, or used.</p>
  </div>
  <div id="rhyme" class="button" (click)='getNextRhymeFunc()'>My name is Thomas and I'm here to say, <br>
    {{rhyme}}!
  </div><br><br>
  <input
  id="hueRange" type="range" min="0" max="360" step="1" value="color"
  (input)="setColorFunc($event.target.value)"
  (change)="setColorFunc($event.target.value)"
  ><br>
  <div id="colorDisplay" class="color-display-container">
    <span id="contentColor" class="color-display color-display-box"></span>
    <span id="welcomeColor" class="color-display color-display-box"></span>
    <span id="pColor0" class="color-display color-display-point"></span>
    <span id="pColor1" class="color-display color-display-point"></span>
    <span id="pColor2" class="color-display color-display-point"></span>
    <span id="pColor3" class="color-display color-display-point"></span>
  </div>
</div>