<div id="welcome" class="page welcome">
  <h1>
    <span id="greeting" (click)='greetingClickFunc($event)'></span>
  </h1>
  <div
  id="leftArrow" class="button button-about"
  [inlineSVG]="arrowPath"
  (onSVGInserted)="styleLeftArrowFunc($event)"
  (click)="shutterToggleFunc()">
  </div>
  <div
  id="downArrow" class="button button-app-content"
  [inlineSVG]="arrowPath"
  (onSVGInserted)="styleDownArrowShutterFunc($event)"
  (click)="goContentFunc()">
  </div>
  <div id="welcomeText">
    <br> <br> <br>
    <p>Use the down arrow to get to the projects screen</p> <br>
    <p>Use the left arrow to see information about this site</p>
  </div>
</div>