<div id="welcome" class="page welcome">
  <h1>
    <span id="greeting" class="button text-box" (click)='greetingClickFunc($event)'><span id='prename'>{{fullGreeting[0]}}</span><span id='name'>{{fullGreeting[2]}}</span><span id='postname'>{{fullGreeting[1]}}</span></span>
  </h1>
  <div
  id="leftArrow" class="button button-about"
  [inlineSVG]="arrowPath"
  (onSVGInserted)="styleLeftArrowFunc($event)"
  (click)="setShutterViewFunc()">
  </div>
  <div class="textBox" id="welcomeText">
    <br> <br> <br>
    <p>Use the down arrow to get to the projects screen</p> <br>
    <p>Use the left arrow to see information about this site</p>
  </div>
  <div class="textBox button" id='tipText' (click)='getNextTipFunc()'>
    <span>{{tip}}</span>
  </div>
</div>