<div id='app-window' (wheel)=scrollFunc($event)>
  <div class='page shutter'
  *ngIf='shutterAlive'
  [@shutterView]=shutterAnimateState.toString()
  >
    <app-shutter
    [welcomeAlive]='welcomeAlive$ | async'
    [fullGreeting]='fullGreeting'
    [colors]='colors'
    (toggleShutterAliveEvent)='toggleShutterAlive()'
    (toggleWelcomeAliveEvent)='toggleWelcomeAlive()'
    (getNextGreetingEvent)='getNextGreeting()'
    (getRandomGreetingEvent)='getRandomGreeting()'
    (getRandomNameEvent)='getRandomName()'
    (setNameEvent)='setName($event)'
    >
      app-shutter error
    </app-shutter>
  </div>
  <div class='page content'
  *ngIf='contentAlive'
  [@contentView]=contentAnimateState.toString()
  >
    <app-content
    [welcomeAlive]='welcomeAlive$ | async'
    [workActive]='workActive$ | async'
    [worksData]='worksData | async'
    [colors]='colors'
    (toggleShutterAliveEvent)='toggleShutterAlive()'
    (setWorkActiveEvent)='setWorkActive($event)'
    >
      app-content error
    </app-content>
  </div>
</div>
