<div id='app-window' (wheel)=scrollFunc($event)>
  <div class='page shutter'
  *ngIf='shutterAlive'
  [@shutterView]='getCurrentShutterAnimationState()'
  >
    <app-shutter
    [shutterView$]='shutterView$'
    [fullGreeting]='fullGreeting'
    [rhyme]='rhyme'
    [colors]='colors'
    (setAppViewEvent)='setAppView(false)'
    (setShutterViewEvent)='setShutterView($event)'
    (getNextGreetingEvent)='getNextGreeting()'
    (getRandomGreetingEvent)='getRandomGreeting()'
    (getRandomNameEvent)='getRandomName()'
    (setNameEvent)='setName($event)'
    (getNextRhymeEvent)='getNextRhyme()'
    >
      app-shutter error
    </app-shutter>
  </div>
  <div class='page content'
  *ngIf='contentAlive'
  [@contentView]='getCurrentContentAnimationState()'
  >
    <app-content
    [welcomeAlive]='welcomeAlive$ | async'
    [workActive]='workActive$ | async'
    [worksData]='worksData | async'
    [colors]='colors'
    (setAppViewEvent)='setAppView(true)'
    (setWorkActiveEvent)='setWorkActive($event)'
    >
      app-content error
    </app-content>
  </div>
</div>
