/* You can add global styles to this file, and also import other style files */
/* make our pages be full width and full height */
/* positioned absolutely so that the pages can overlap each other as they enter and leave */
html { /*overflow-x: hidden;*/ }
body { padding:0; margin:0; }
.page        {
    bottom:0; 
    top:0;  
    width:100%;
    position:fixed; 
    text-align:center;
    white-space: nowrap;
    overflow: hidden;
}

.content {
	overflow-y: auto;
	overflow-x: auto;
	z-index: -1;
}
.shutter {
	z-index: 1;
}
.about {
	z-index: -1;
}
.welcome {
	z-index: 1;
}

.button {
	cursor: pointer;
	z-index: 2;
	/*position: fixed;*/
}
#aboutText {
	
}