/* You can add global styles to this file, and also import other style files */
/* make our pages be full width and full height */
/* positioned absolutely so that the pages can overlap each other as they enter and leave */
html { /*overflow-x: hidden;*/ }
body { padding:0; margin:0; }
.page {
    bottom:0; 
    top:0;  
    width:100%;
    position:fixed; 
    text-align:center;
    white-space: nowrap;
    overflow: hidden;
}
.textBox {
  max-width: 100%;
  overflow-wrap: break-word;
}
.app-content {
  overflow-y: auto;
  overflow-x: auto;
  z-index: -1;
}
.shutter {
  z-index: 1;
}
.about {
  z-index: -1;
}
.welcome {
  z-index: 1;
}

.button {
  cursor: pointer;
  z-index: 2;
  /*position: fixed;*/
}
.work-wrapper-view-container{
  margin: 2.5%;
  float:left;
  border: 3px solid #777;
  border-radius: 5%;
  background: white;
}
.work-wrapper-view-container:hover {
  box-shadow: 0 0 3px 5px #555
}
.wwGrid {
  height: 25%;
  width: 25%;
}
.wwRow {
  height:10%;
  width:10%;
  position: absolute;
  top:85%;
  /*background: blue;*/
}
.wwActive {
  height: 80%;
  width: 80%;
  position: fixed;
  top: 0;
  /*background: red;*/
}
.canvasOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
}