<div class="shutter" >
  <div
  *ngIf=welcomeAlive
  [@welcomeView]=welcomeAnimate.toString()
  class="page welcome"
  >
    <app-welcome 
    [welcomeData]=shutterData[0]
    (toggleShutterEvent)=goAboutFunc()
    (goContentEvent)=goContentFunc()
    (saveWelcomeDataEvent)=saveWelcomeDataFunc($event)
    >
      welcome loading
    </app-welcome>
  </div>
  <div
  *ngIf=aboutAlive
  [@aboutView]=aboutAnimate.toString()
  class="page about"
  >
    <app-about
    [aboutData]=shutterData[1]
    (toggleShutterEvent)=goWelcomeFunc()
    (goContentEvent)=goContentFunc()
    (saveAboutDataEvent)=saveAboutDataFunc($event)
    >
      about loading
    </app-about>
  </div>
</div>