<div class="shutter" >
  <div *ngIf="checkWelcomeOpen();" 
  [@welcomeView]=checkWelcomeOpen().toString()
  class="page"
  >
	  <welcome 
	  (toggleShutterEvent)="toggleShutterFunc()"
	  (goContentEvent)="goContentFunc()"
	  >
		  welcome loading
	  </welcome>
	</div>
  <div *ngIf="checkAboutOpen();" 
  [@aboutView]="checkAboutOpen().toString()"
  class="page"
  >
    <about
	  (toggleShutterEvent)="toggleShutterFunc()"
	  (goContentEvent)="goContentFunc()"
	  >
	    about loading
	  </about>
	</div>
</div>