<div class='shutter' >
  <div
  *ngIf='welcomeAlive'
  [@welcomeView]='welcomeAnimateState.toString()'
  class='page welcome'
  id='welcome'
  >
    <app-welcome 
    [fullGreeting]='fullGreeting'
    [welcomeColor]='colors["welcomeColor"]'
    (toggleShutterAliveEvent)=toggleShutterAliveFunc()
    (toggleWelcomeAliveEvent)=toggleWelcomeAliveFunc()
    (getNextGreetingEvent)='getNextGreetingFunc()'
    (getRandomGreetingEvent)='getRandomGreetingFunc()'
    (getRandomNameEvent)='getRandomNameFunc()'
    (setNameEvent)='setNameFunc($event)'
    >
      app-welcome error
    </app-welcome>
  </div>
  <div
  *ngIf='aboutAlive'
  [@aboutView]='aboutAnimateState.toString()'
  class='page about'
  id='about'
  >
    <app-about
    [aboutColor]='colors["aboutColor"]'
    (toggleShutterAliveEvent)='toggleShutterAliveFunc()'
    (toggleWelcomeAliveEvent)='toggleWelcomeAliveFunc()'
    >
      app-about error
    </app-about>
  </div>
</div>